body {
    background-image: url(../img/account/accountBg.jpg);
}

.midBox {
    height: calc(100vh - 4.5rem);
    display: flex;
    justify-content: start;
    align-items: start;
}

.accountMenu {
    width: 15rem;
    height: 29.2rem;
    background-color: rgba(254, 255, 255, 0.237);
}

.descriptionAccount {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;
}

.listAccountMenu {
    list-style-type: none ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    color: rgb(6, 6, 6);
}