body {
    background-color: rgb(146, 63, 89);
}

main {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .itemImg{
    width: 20rem;
    height: 25rem;
    margin: 1rem;
    background-color: aqua;
}

main .itemDetails{
    width: 20rem;
    height: 25rem;
    margin: 1rem;
    background-color: rgb(52, 61, 145);
}








@media screen and (max-width: 800px) {
    main .itemImg{
        width: 15rem;
        height: 20rem;
    }
    main .itemDetails{
        width: 15rem;
        height: 20rem;
    }
}



@media screen and (max-width: 550px) {
    main{
        flex-direction: column;
    }
}