body {
    background: rgb(190,186,255);
    background: linear-gradient(90deg, rgba(190,186,255,1) 0%, rgba(48,208,161,1) 71%, rgba(197,245,255,1) 94%); 
}

main {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .itemImg{
    width: 20rem;
    height: 25rem;
    margin: 1rem;
    background-color: rgb(255, 255, 255);
}

main .itemDetails{
    width: 20rem;
    height: 25rem;
    margin: 1rem;
    background-color: rgb(255, 255, 255);
}








@media screen and (max-width: 800px) {
    main .itemImg{
        width: 15rem;
        height: 20rem;
    }
    main .itemDetails{
        width: 15rem;
        height: 20rem;
    }
}



@media screen and (max-width: 550px) {
    main{
        flex-direction: column;
    }
}