body {
    background-color: rgb(184, 96, 169);
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    font-size: 1.4rem;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main .itemsBox {
    width: 45rem;
    display: flex;
    flex-wrap: wrap;
}

main .itemCard {
    min-width: 13rem;
    height: 17rem;
    margin: 1rem;
    display: flex;
    align-items: end;
    background-color: blueviolet;
}

main .itemCardDescription {
    width: 13rem;
    height: 3rem;
    margin: 0;
    background-color: yellow;
}














@media screen and (max-width: 800px) {
    main .itemsBox {
        width: 40rem;
        justify-content: center;
    }
    main .itemCard {
        min-width: 13rem;
        height: 17rem;
    }
}

@media screen and (max-width: 480px) {
    main .itemsBox {
        width: 20rem;
        justify-content: center;
    }
    main .itemCard {
        min-width: 6rem;
        height: 17rem;
    }
    main .itemCardDescription {
        height: 2rem;
    }
}