body {
    background-color: rgb(184, 96, 169);
}

main {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    font-size: 1.4rem;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


main .itemsBox {
    width: 45rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .itemCard {
    width: 13rem;
    height: 17rem;
    margin: 1rem;
    transition: box-shadow .3s;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: white;
}

main .itemCard:hover {
    box-shadow: 0 0 23px rgba(26, 25, 25, 0.65);
}

main .itemImg {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


main .itemCardDescription {
    width: 13rem;
    height: 3rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(200, 200, 170);
}





















@media screen and (max-width: 800px) {
    main .itemsBox {
        width: 40rem;
        justify-content: center;
    }

    main .itemCard {
        min-width: 13rem;
        height: 17rem;
    }
}

@media screen and (max-width: 480px) {
    main .itemsBox {
        width: 20rem;
        justify-content: center;
    }

    main .itemCard {
        min-width: 6rem;
        height: 17rem;
    }

    main .itemCardDescription {
        height: 2rem;
    }
}