body {
    background-image: url(../img/login/bgLogin.jpg);
}

main {
    height: calc(100vh - 4.5rem);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Form Login  */

.log {
    width: 30rem;
    max-width: 45%;
    height: 26rem;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 41px -18px black;
    background-color: rgba(0, 0, 0, 0.454);
}

.txtLog {
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(246, 244, 244);
}

input {
    outline: none;
    background-color: rgb(225, 225, 225);
}

.inputBox {
    width: 15rem;
    height: 2.2rem;
    margin: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(225, 225, 225);
}

.inputBox {
    width: 15rem;
    height: 2.2rem;
    margin: .5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(225, 225, 225);
}

#name {
    width: 10rem;
    height: 2rem;
    border: none;
}

.iconBox {
    width: 2rem;
    margin: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 225, 225);
}

.iconName {
    width: 1.5rem;
    height: 1.5rem;
    color: rgb(112, 111, 111);
}

.iconLock {
    width: 1.5rem;
    height: 1.5rem;
    color: rgb(112, 111, 111);
}

#password {
    width: 10rem;
    height: 2rem;
    border: none;
}

.saveForgot {
    width: 15rem;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.rememberMe {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.forgotPassword {
    align-self: end;
    margin-top: 1rem;
    font-size: 0.7rem;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.btnLog {
    width: 8rem;
    height: 2.5rem;
    margin-top: 2rem;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(228, 226, 226);
    border: 1px solid #111;
    background: black;
    cursor: pointer;
}

.btnLog:hover {
    width: 8rem;
    height: 2.5rem;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    border: 1px solid #111;
    background: rgb(225, 225, 225);
    cursor: pointer;
    transition: .5s;
}








/* Form Register  */

.register {
    width: 30rem;
    max-width: 45%;
    height: 26rem;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 41px -18px black;
    background-color: rgba(0, 0, 0, 0.454);
}

.registerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txtRegister {
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(246, 244, 244);
}

.civility {
    width: 15rem;
    height: 2rem;
    display: flex;
    justify-content: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(246, 244, 244);
}

.civilityValue {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameBox {
    width: 16rem;
    display: flex;
    justify-content: center;
}

.inputName {
    height: 2rem;
    width: 50%;
    margin: .5rem;
    border: none;
}

.bdayDate {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(246, 244, 244);
}

.inputBday {
    width: 15rem;
    height: 2rem;
    margin: .5rem;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(87, 87, 87);
}

.inputRegister {
    width: 10rem;
    height: 2rem;
    margin: .5rem;
    border: none;
}

.iconPhone {
    width: 1.5rem;
    height: 1.5rem;
    color: rgb(112, 111, 111);
}


.btnRegister {
    width: 8rem;
    height: 2.5rem;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(228, 226, 226);
    border: 1px solid #111;
    background: black;
    cursor: pointer;
}

.btnRegister:hover {
    width: 8rem;
    height: 2.5rem;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    border: 1px solid #111;
    background: rgb(225, 225, 225);
    cursor: pointer;
    transition: .5s;
}

















@media screen and (max-width: 600px) {
    main {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .log {
        width: 40rem;
        max-width: 90%;
        height: 23rem;
        max-height: 40%;
        margin: 1rem;
    }

    .register {
        width: 40rem;
        max-width: 90%;
        height: 27rem;
        max-height: 40%;
        margin: 1rem;
    }
}

@media screen and (min-width: 601px) and (max-height: 530px) {
    .register {
        height: 24rem;
        max-height: calc(90% - 2rem);
        padding-bottom: 2rem;
        overflow-y: scroll;
    }

    .registerInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}